* {
    margin: 0;
    padding: 0;
} 

/* #my{
    zoom: 90%;
    } */

body {
    display:flex;
    background-color: white;
    align-items: center;
    width: 100vw;
    flex-direction: column;
    /* justify-content: center; */
    align-content: space-around;
}

/* 1. Top header with purple background--> */

.header {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content:flex-end;
    background-color: #63005A;
    width:100%;
    height:55px;
    font-weight: bold;
}

.header ul {
    margin: 0;
    padding: 0;
  }

.header li a{
    background-color:rgba(255, 255, 255, .2);
    color:white;
    text-decoration: none;
    padding: 7px 14px 7px 14px;
    border-radius: 7px;
}

.header li {
    display: inline;
    color:black;
}

.signin {
    margin-right: 5vw;
    margin-left: 5px;
}

/*Content with 90% of viewport weight*/

.content {
    position: relative;
    width: 90%;
    /* height: 90vh; */
}

/* 2. Craigslist logo row */


    .logoBar {
        height: 100px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }

        /* Makes Menu Horizontal */
        .logoBarButtons li {
            display: inline;
        }

        .userIcon {
            margin-left: 10px;
        }

/* 3. Menu Bar */

    .menu {
        height: auto;
        display: flex;
        flex-wrap: wrap;
        align-items: flex-end;
        justify-content: space-between;
        list-style: none;
        font-weight: bold;
        margin-bottom: 20px;
        margin-top: 20px;
        }

        /* Makes Menu Horizontal */
        .menu li a {
            font-family: Arial, Helvetica, sans-serif;
            display: block;
            background-color:#B2B2B2;
            color: white;
            border-radius: 20px 20px 0px 0px;
            padding: 15px 5vw 15px 5vw;
            text-decoration: none;
            margin-bottom: 10px;
        }

        .menu li a:hover:not(#active) {
            background-color:#8F8F8F;
          }

        #active {
            background-color: #63005A; 
            }
        
        /* make menu objects align vertically */

        /* phone */

       @media only screen and (min-device-width : 0px) and (max-device-width : 735px) and (orientation : portrait) {

        .menu li a {
            /* Make border all round on mobile */
            border-radius: 20px 20px 20px 20px;
            text-align: center;
            font-size: 10px;
            padding: 10px 5vw 10px 5vw;
            width: 130px;
        }

        }

         /* ipad */

         @media only screen and (min-device-width : 735px) and (max-device-width : 1355px) and (orientation : portrait) {

        .menu li a {
            /* Make border all round on mobile */
            border-radius: 20px 20px 0px 0px;
            text-align: center;
            font-size: 12px;
            padding: 15px 4vw 15px 4vw;
        }

        }


/* 4. Search Row */

.searchRow{
    display: flex;
    justify-content: space-between;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 14px;
    display:flex;
    width: 100%;
    align-items: flex-end;
    align-content: space-between;    
    flex-wrap: wrap;
    margin-bottom: 10px;

}

.filterbox {
    display: flex;
    flex-direction: row;
}

.filters{
    text-align: center;
    background-color:#DDDDDD;
    height: 9px;
    padding: 12px 13px 19px 13px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    width: 110px;
    }

.downArrow{
    margin-left: 5px;
}

.searchBox {
    margin-right: 8px;
    height: 40px;
    width: 350px;
    background-color:#DDDDDD;
    border-color: #DDDDDD;
    border-radius: 7px;
    padding: 0px 0px 0px 10px;
    outline:none !important;
    font-size: 11px;

}

.searchButton {
    position: relative;
    width: 60px;
    height: 42px;
    border: none;
    border-radius: 8px;
    padding: 0px 0px 0px 3px;
    cursor: pointer;
    left: 0px;
}

.postRow {
    display: flex;
    justify-content: flex-end;
    height: auto;
}

#postButton {
    background-color:#8D0080;
    width: 130px;
    height: 47px;
    padding: 0px 0px 0px 0px;

}

    /* phone */

    @media only screen and (min-device-width : 0px) and (max-device-width : 735px) and (orientation : portrait) {

        .searchRow{
            font-size: 10px;
        }
        
        .filters{
            border-radius: 5px;
            margin-right: 10px;
            cursor: pointer;
            width: 79px;
            margin-bottom: 8px;
            padding: 10px 15px 15px 10px;
            }
        
        .downArrow{
            margin-left: 8px;
            margin-top: 3px;
            width: 8px;
        }
        
        .searchBox {
            width: 250px;
            height: 30px;
        
        }

        .searchButton {
            height: 30px;
        }

        #postButton {
            background-color:#8D0080;
            width: 110px;
            height: 43px;
            padding: 0px 0px 0px 0px;
        
        }
        
        
        }

     /* ipad */

     @media only screen and (min-device-width : 512px) and (max-device-width : 1355px) and (orientation : portrait) {

        .searchRow{
            font-size: 12px;   
            margin-bottom: 20px; 
        }

        .filters{
            width: 90px;
            }

        .downArrow{
            margin-left: 5px;
            margin-top: 3px;
            width: 8px;
        }

        .searchBox {
            width: 200px;
        }
        .searchButton {
            height: 33px;
        }
    }


/* 5. Heading */

h1 {
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 10px;
    margin-bottom: 20px;
    font-size: 30px;
    color: #8D0080;
}



.boxLayout {
    display:flex;
    justify-content: center;
}

/* 6. Scroll Box */

.scrollBox{
    height:470px;
    padding: 15px 20px 15px 20px;
    width:100%;
    border:1px solid #ccc;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    overflow:auto;
    border-radius: 5px;
    margin-top: 10px;
}

.tableTitle {
    width: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #8D0080;
    font-weight: bold;
    padding: 0px 20px 0px 20px;
}

@media only screen and (min-device-width : 0px) and (max-device-width : 512px) and (orientation : portrait) {

    
    h1 {
        font-size: 25px;
    }
    
    .tableTitle {
        font-size: 13px;
    }

    table {
        font-size: 10px;
    
    }

    }

table {
    width: 100%;
    /* border: 1px solid #ddd; */

}

td, th {
    /* border: 1px solid #dddddd; */
    text-align: left;
    padding: 8px;
  }

  .description {
      width: 50%;
      font-weight: bold;
      color: #2800F8;
      text-decoration: underline;
      cursor: pointer;
  }

  #descriptionTitle {
    color: #8D0080;
    text-decoration: none;
  }

  .date {
      width: 5%;
  }

  .views {
      width: 13%;
      text-align: center;
  }

  .location {
      width: 20%;
  }

  .favorite {
      width: 10%;
      text-align: center;
  }
 
  /* 7. Footer */

  .footer {
    font-family: Arial, Helvetica, sans-serif;
    display:flex;
    align-items: center;
    justify-content:flex-end;
    background-color: #63005A;
    width:100%;
    height:35px;
    font-weight: bold;
    margin-bottom: 0px;
    margin-top: 20px;
}

            



