a-scene {
    position: fixed;

}

* {
    margin: 0;
    padding: 0;
} 

body {
    background-color: magenta;
    color: white;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background: radial-gradient(circle, rgb(193, 171, 179) 0%, rgb(53, 44, 47) 61%, rgb(11, 11, 11) 100%);

    justify-content: flex-start;

  }



.all-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:45vh;
}


.title {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 15px;
    z-index: 9999;
}

.subtitle {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 20px;
    font-weight: 100;
    letter-spacing: 3px;
    margin-bottom: 70px;
    z-index: 9999;
}



.gradient-buttons {
    display: flex;
    justify-content: space-around;
    width: 50%;
    margin-bottom: 10px;
}




.button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 250;
    background-color: rgba(255, 255, 255, 0.226);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    font-size: 15px;
    letter-spacing: 2px;
    z-index: 9999;
}

.button:hover {background-color: #ffffff21;
transform: scale(1.1);}

  

