* {
    margin: 0;
    padding: 0;
} 

@import url(https://fonts.googleapis.com/css?family=Roboto:400,100,300);

body {
    background: url(images/background.jpg);
    background-color: black;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    height:100%;
    background-size: 100%;
    padding: 27px;
    font-family: 'Roboto Condensed', sans-serif;
  }

.logo {
    display:flex;
    /* position:fixed; */
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 33px;

    /* 891 * (87/700) */
    height:103.7385714286px;
  }


.menu {
    /* position:fixed; */
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 48px;
    /* background: #A9A9A9; */
    border-radius: 17.5px;
    /* margin-top: 130px; */
}

li{
    list-style-type: none;
    margin-left: 29px;
    margin-right: 29px;
}

li a{
    text-decoration: none;
    color: rgb(173, 172, 172);
    font-size: 12px;
    font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
    /* font-weight: 300; */

    font-weight: 300;
    letter-spacing: .05rem;
}

.menu a:hover {
    font-weight: 600;
  }
  
  .menu a.active {
    font-weight: 500;
  }
  

/* Rectangle 29 */

.boxHolder {
display:flex;
justify-content: center;
padding-top: 50px;
padding-bottom:50px;
width: 100%;
height: 500px;
}

.workHolder {
display:flex;
justify-content: center;
padding-top: 50px;
padding-bottom:30px;
width: 100%;
height: 600px;
}


.scrollBox{
    display:flex;
    justify-content: left;
    align-items: center;
    width: 63%;
    padding: 0px 0 50px 0px;
    overflow: scroll;
    border-radius: 17.5px;
    background:rgba(106,103,103,0.4);
    /* background:rgba(238, 250, 252, 0.4); */
    /* background:rgba(190,211,214,0.5); */
    box-shadow: inset -20px -13px 5px -5px hsla(0,0%,0%,.03);
    border-right: 50px solid rgba(106,103,103,0.002);
    border-left: 50px solid rgba(106,103,103,0.002);
    border-top: 50px solid rgba(106,103,103,0.002);
    border-bottom: 15px;
    /* transition: filter 1.5s ease-in-out; */



}

.scrollBox::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }  

.scrollBox:hover img {
    /* transform: scale(0.9); */
    /* opacity: 1; */
    transition: filter 0.6s ease-in-out;
    filter: grayscale(0%);
}

.bigimages {
    border-radius: 17.5px;
    margin-right: 50px;
    height: 100%;
    filter: grayscale(100%);
}


.drawingIntroText {
    display:flex;
    padding-left: 40px;
    padding-right: 50px;
    flex-direction: column;
    justify-content: center;
    margin-right: 50px;
    height:100%;
    color: white;
    font-size: 12px;
    font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
    font-weight: 200;
    letter-spacing: .07rem;
    text-align: center;
    line-height: 1.4rem;
    /* border: 1px solid red; */

}

.caption {    
    margin-right: 50px;
    color: white;
    font-size: 12px;
    font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
    font-weight: 200;
    letter-spacing: .05rem;
    text-align: center;
    line-height: 1.4rem;
}

.captionWork {
    margin-left: 50px;
    margin-right: 100px;
    color: white;
    font-size: 12px;
    font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
    font-weight: 200;
    letter-spacing: .05rem;
    text-align: center;
    line-height: 1.4rem;
}

.characterBox {
    display:flex;
    justify-content: center;
    padding-bottom:70px;
    width: 100%;
    height: 500px;
    /* border: 1px solid red; */
    }

.footerFont {
    color: #544F52;
    font-size: 10px;
    font-weight: 100;
    letter-spacing: .05rem;
    font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
}

.aboutMe{
    width:55%;
    color: white;
    font-size: 13px;
    font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
    font-weight: 100;
    letter-spacing: .05rem;
    line-height: 1.8rem;
    /* border: 1px solid red; */
    padding-top: 30px;
    padding-bottom:50px;
    padding-left: 70px;
    padding-right: 70px;
    text-align: justify;
    text-justify: inter-word;
    background-color:rgba(106,103,103,0.6);
        border-radius: 17.5px;


}

.AboutHolder {
display:flex;
justify-content: center;
align-content: center;
width: 100%;
height: auto;
/* border: 1px solid red; */
}


.pictureBox img {
    filter: grayscale(0%);
            /* border: 1px solid red; */
            height: 400px;

}

.pictureBox::-webkit-scrollbar {
    display: none; /* for Chrome, Safari, and Opera */
  }  

.pictureBox {
    display:flex;
    justify-content: left;
    align-items: center;
    width: 62%;
    margin-top: 30px;
    margin-bottom: 30px;
    margin-right: 19%;
    margin-left: 19%;
    overflow: scroll;
    border-radius: 17.5px;
    background:rgba(106,103,103,0);
    filter: grayscale(0%);
            /* border: 1px solid red; */

}





/* phone */

@media only screen and (min-device-width : 0px) and (max-device-width : 735px) and (orientation : portrait) {

    body {
        background: url(images/stair.jpg);
        background-color: black;
        background-size: cover;
        background-attachment: fixed;
        background-repeat: no-repeat;
        height:100%;
        background-size: 100%;
        padding: 27px;
        font-family: 'Roboto Condensed', sans-serif;
    }

    .logo {
        display:flex;
        /* position:fixed; */
        justify-content: center;
        align-items: center;
        width: 100%;
        margin-top: 45px;
    
        /* 891 * (87/700) */
        height:103.7385714286px;
      }

      li a{
        text-decoration: none;
        color:#E5E5E5;
        font-size: 10px;
        font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
        /* font-weight: 300; */
    
        font-weight: 300;
        letter-spacing: .05rem;
    }

    .scrollBox{
        display:flex;
        justify-content: left;
        align-items: center;
        width: 75%;
        padding: 0px 0 30px 0px;
        overflow: scroll;
        border-radius: 17.5px;
        background:rgba(106,103,103,0.4);

        border-right: 30px solid rgba(106,103,103,0.002);
        border-left: 30px solid rgba(106,103,103,0.002);
        border-top: 30px solid rgba(106,103,103,0.002);
        border-bottom: 0px;
        /* background:rgba(238, 250, 252, 0.4); */
        /* background:rgba(190,211,214,0.5); */
        /* box-shadow: inset -20px -13px 5px -5px hsla(0,0%,0%,.03); */
        /* transition: filter 1.5s ease-in-out; */    
    }

    .boxHolder {
        display:flex;
        justify-content: center;
        padding-top: 50px;
        padding-bottom:50px;
        width: 100%;
        height: 300px;
        /* border: 1px solid red; */
        }
        
        .workHolder {
        display:flex;
        justify-content: center;
        width: 100%;
        height: 300px;
        /* border: 1px solid red; */
        }

        .captionWork {
            margin-left: 0px;
            margin-right: 50px;
            color: white;
            font-size: 12px;
            font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
            font-weight: 200;
            letter-spacing: .05rem;
            text-align: center;
            line-height: 1.4rem;
        }

        .characterBox {
            display:flex;
            justify-content: center;
            padding-bottom:70px;
            width: 100%;
            height: 300px;
            /* border: 1px solid red; */
            }

            .drawingIntroText {
                display:flex;
                padding-left: 10px;
                padding-right: 49px;
                flex-direction: column;
                justify-content: center;
                margin-right: 50px;
                height:100%;
                color: white;
                font-size: 12px;
                font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
                font-weight: 200;
                letter-spacing: .07rem;
                text-align: center;
                line-height: 1.4rem;
                /* border: 1px solid red; */
            
            }

            .aboutMe{
                width:80%;
                color: white;
                font-size: 9px;
                font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
                font-weight: 100;
                letter-spacing: .05rem;
                line-height: 1.4rem;
                /* border: 1px solid red; */
                margin-top: 10px;
                padding-top: 10px;
                padding-bottom:20px;
                padding-left: 20px;
                padding-right: 20px;
                text-align: justify;
                text-justify: inter-word;
                background-color:rgba(106,103,103,0.6);
                    border-radius: 17.5px;
            }

            .pictureBox {
                margin: 0px;
                display:flex;
                justify-content: left;
                align-items: center;
                overflow: scroll;
                width: 90%;
                border-radius: 10.5px;
                background:rgba(106,103,103,0);
                filter: grayscale(0%);
                height: 200px;
                /* border: 1px solid red; */
            }

            .pictureBox img {
                filter: grayscale(0%);
            }

            .pictureBox .bigimages {height: 200px; width: 300px; margin-right: 25px;}

            .pictureBoxHolder {
                display:flex;
                justify-content: center;
                padding-top: 10px;
                padding-bottom:10px;
                width: 100%;
                }

                .drawingIntroText {
                    display:flex;
                    padding-left: 60px;
                    /* padding-right: 50px; */ */
                    flex-direction: column;
                    justify-content: center;
                    margin-right: 50px;
                    height:100%;
                    color: white;
                    font-size: 10px;
                    font-family: "Roboto", 'Helvetica Neue', 'Helveica', 'Arial', sans-serif;
                    font-weight: 200;
                    letter-spacing: .07rem;
                    text-align: center;
                    line-height: 1.4rem;
                    /* border: 1px solid red; */
                
                }

    }
    
    /* iPAD */

    @media only screen and (min-device-width : 735px) and (max-device-width : 1355px) and (orientation : portrait) {

        .pictureBox {
            display:flex;
            justify-content: left;
            align-items: center;
            width: 72%;
            margin-top: 30px;
            margin-bottom: 30px;
            margin-right: 14%;
            margin-left: 14%;
            overflow: scroll;
            background:rgba(106,103,103,0);
            filter: grayscale(0%);
                    border-radius: 17.5px;

        
        }

        }






