* {
    margin: 0;
    padding: 0;
} 

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    background: radial-gradient(circle, #791A3E 0%, #ED719E 61%, #D7C6B4 100%);
}

.all-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top:45vh;
    /* border: solid; */

}


.title {
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 60px;
    font-weight: 100;
    margin-bottom: 12vh;
    letter-spacing: 3px;

}

.color-pickers {
    display: flex;
    width: 200px;
    justify-content: space-between;
    margin-bottom: 7vh;
}

.gradient-buttons {
    display: flex;
    justify-content: space-between;
    /* border: solid; */
    width: 77%;
}

.color-picker{
    border-radius: 50%;
    height: 40px;
    width: 40px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

.color-picker:hover {
    transform: scale(1.1);
}

.color-picker::-webkit-color-swatch {
    border: solid;
    border-width: thin;
    border-color: white;
    border-radius: 50%;

}

.color-picker::-webkit-color-swatch-wrapper {
    padding: 0; 
}

.button {
    font-family: 'Josefin Sans', sans-serif;
    font-weight: 250;
    background-color: rgba(255, 255, 255, 0.226);
    color: rgb(255, 255, 255);
    border-radius: 20px;
    padding: 15px 32px;
    text-align: center;
    border: 2px solid #e7e7e700;
    font-size: 15px;
    letter-spacing: 2px;

}

.button:hover {background-color: #ffffff21;
transform: scale(1.1);}

  

