*{
  outline: 0;
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: 'bigillaregular';
  src: url('fonts/bigilla-webfont.woff2') format('woff2'),
       url('fonts/bigilla-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,400,400italic,500,500italic,700,700italic,900,900italic&subset=latin,latin-ext,cyrillic,cyrillic-ext,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300italic,400,400italic,700,700italic&subset=latin,latin-ext,cyrillic-ext,cyrillic,greek-ext,greek,vietnamese);
@import url(https://fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700&subset=latin,latin-ext,greek-ext,greek,vietnamese,cyrillic,cyrillic-ext);


html{
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  z-index:100;
  overflow:auto;
}

body{
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #383838;
}

canvas{
  width: 100%;
  height: 100%;
  z-index: -1;
}


.contents {
  position: absolute;
  color: white;
}

.startPage {
  font-family: 'bigillaregular';
  letter-spacing: .2rem;
  width: 100vw;
  height: 100vh;
  font-size: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutPage {
  font-family: 'bigillaregular';
  letter-spacing: .2rem;
  line-height: 1.8em;
  width: 100vw;
  height: 100vh;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.aboutPageDescription {
  text-align: center;
  padding: 100px;
  width: 55%;
}

.startPage__subtitleLog {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: 100px;
  letter-spacing: 0.4em;
  margin-top: 50px;
  font-size: 12px;
  text-align: center;
  line-height: 1.8em;
  color: rgb(233, 233, 233);
  transition:all 0.7s;

}

.startPage {
  transition: opacity 2s linear;

}

.startPage__subtitleLog:hover {
  color: rgb(255, 255, 255);
  font-style: italic;
  transition:all 0.7s;
  cursor: pointer;
  font-size: 13px;
}


/* Post Container */

.container{
  width: 100vw;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Roboto', 'Arial', sans-serif;
}

.posts{
  margin-top: 80px;
  list-style-type: none;
  padding-left: 0px;
  overflow-y: auto;
  /* width:86%; */
  width: 50%;
}

.post {
  background-color: rgba(255, 255, 255, 0.09);
  /* background: radial-gradient(#646464b2, #9198e500); */
  border-radius: 40px;
  /* /* top | right | bottom | left */
  padding: 50px 50px 35px 50px; 
  box-shadow: 10px 10px 15px -15px rgba(0, 0, 0, 0.672);
  margin-bottom: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.post__date {
  /* font-size: 10px; */
  font-size: 10px;
  color: white;
}



.post__content {
  font-family: 'bigillaregular';
  margin-top: 20px;
  margin-bottom: 20px;
  /* font-size: 12px; */
  text-align: center;
  font-size: 20px;
  color: white;
  line-height: 1.5;
  font-weight: 100;
  letter-spacing: 0.05em;
}

.new {
  position: absolute;
  bottom: 5vh;
  right: 5vh;
}

.new__button {
  height: 5vh;
}

/* Header */

.headBar {
  background-color: rgba(255, 255, 255, 0.013);
  position: fixed;
  width: 100%;
  /* /* top | right | bottom | left */
  padding: 25px 0px 10px 0px; 
  box-shadow: 0 5px 20px -20px gray;
}

.headBar__container {
  margin: 0 auto;
  /* width:86%; */
  width: 80%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.headBar__logo{
  margin-left: 15px;

}

.headBar__postButton{
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.179);
  border-radius: 10px;
  color: white;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  /* /* top | right | bottom | left */
  padding: 7px 10px 5px 10px; 
  transition:all 0.7s;
  border: none;

}

.headBar__postButton:hover {
  background-color: rgba(227, 234, 244, 0.493);
  transform: scale(1.2);
  transition:all 0.7s;

}

.headBar__logo {
  cursor: pointer;
}

.headBar__backButton{
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.179);
  border-radius: 10px;
  color: white;
  border-color: rgb(255, 255, 255);
  cursor: pointer;
  /* /* top | right | bottom | left */
  padding: 7px 10px 9px 10px; 
  transition:all 0.7s;
  border: none;

}

.headBar__backButton:hover {
  background-color: rgba(227, 234, 244, 0.493);
  transform: scale(1.2);
  transition:all 0.7s;

}



/* Create Page Stylization */

.logPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.create {
  margin-top: 0px;
  display: none;
}

.create__container {
  width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.create__post {
  font-family: 'bigillaregular';
  font-weight: 100px;
  letter-spacing: 0.05em;
  height: 20vh;
  line-height: 1.8em;
  background-color: rgba(255, 255, 255, 0.069);
  border-radius: 40px;
  color: white;
  font-size: 40px;
  text-align: center;
  overflow-wrap: break-word;
  width: 60%;
  border: none;
  padding: 40px;
  transition:all 0.7s;
}

.create__post:hover {
  height: 30vh;
  background-color: rgba(255, 255, 255, 0);
  transition:all 0.7s;

}

.create__button {
  background-color: rgba(255, 255, 255, 0.069);
  color: rgb(241, 241, 241);
  font-size: 12px;
  font-weight: 100;
  letter-spacing: .2rem;
  bottom:0%;
  border-radius: 40px;
  padding: 15px;
  cursor: pointer;
  border: none;
  box-shadow: 10px 10px 15px -15px rgba(0, 0, 0, 0.672);
  transition:all 0.5s;
}

.create__button:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  transition:all 0.5s;
  background-color: rgba(255, 255, 255, 0.041);
}

.start__button {
  background-color: rgba(255, 255, 255, 0.069);
  color: rgb(226, 225, 225);
  font-size: 12px;
  font-weight: 100;
  letter-spacing: .2rem;
  border-radius: 40px;
  /* border: none; */
  padding: 15px;
  cursor: pointer;
  border: none;
  box-shadow: 10px 10px 15px -15px rgba(0, 0, 0, 0.672);
  transition:all 0.5s;

}

.start__button:hover {
  transform: scale(1.1);
  color: rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.041);
  transition:all 0.5s;
}

::placeholder {
  color: rgba(255, 255, 255, 0.719);
}

.colorInput {
  border-radius: 50%;
  height: 40px;
  width: 40px;
  border: none;
  outline: none;
  -webkit-appearance: none;
  opacity: 70%;
  border: solid;
  border-color: white;
  transition:all 0.5s;
  animation: blinker 2s linear infinite;
  box-shadow: 10px 10px 15px -15px rgba(0, 0, 0, 0.672);

}

.colorandlog {
  position: fixed;
  bottom: 19%;
  display: flex;
  justify-content: space-between;
  margin: 30px;
  width: 7vw;

}


@keyframes blinker {
  50% {
    opacity: 30%;
  }
}

.colorInput:hover {
  transform: scale(1.2);
  opacity: 100%;
  transition:all 0.5s;
}

.colorInput::-webkit-color-swatch {
  border: solid;
  border-width: thin;
  border: none;
  border-radius: 50%;
}

.colorInput::-webkit-color-swatch-wrapper {
  padding: 0; 
}

.footer {
  font-family: 'Roboto', 'Arial', sans-serif;
  font-weight: light;
  padding: 10px;
  letter-spacing: 0.2em;
  font-size: 10px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  color: white;
  opacity: 80%;
  text-align: center;
}

/* IPHONE  */

/* @media only screen and (min-device-width : 0px) and (max-device-width : 735px) and (orientation : portrait) {

  .posts{
    margin-top: 80px;
    list-style-type: none;
    padding-left: 0px;
    overflow-y: auto;
    width: 86%;
  }


  .headBar__container {
    margin: 0 auto;
    width:86%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
} */

/* IPAD */

/* @media only screen and (min-device-width : 735px) and (max-device-width : 1355px) and (orientation : portrait) {

  .posts{
    margin-top: 80px;
    list-style-type: none;
    padding-left: 0px;
    overflow-y: auto;
    width: 70%;
  }


  .headBar__container {
    margin: 0 auto;
    width:70%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
} */

